/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}

.title-seperator {
  display: none;
  @include media-query($small-screen) {
    display: block;
  }
  @include media-query($medium-screen) {
    display: block;
  }
  width: 85%;
  border-bottom: 1px #ddd solid;
  margin: 0.4em auto 2.3em;
}

.web-title {
  display: none;
  @include media-query($small-screen) {
    display: block;
  }
  @include media-query($medium-screen) {
    display: block;
  }
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  margin: 1em auto 0;
  a {
    color: $thirdary;
    display: block;
    font-size: $font-size-h2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: lighten($thirdary, 10%);
      text-decoration: none;
    }
  }
}

.cover-card {
  margin-top: 2em;
  color: $text-color;
  padding: 0 30px;
  .avatar {
    border-radius: 30%;
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: $info;
    font-size: 1.75em;
    text-align: center;
    margin-top: 10px;
    &:hover,
    &:focus {
      color: lighten($info, 10%);
      text-decoration: none;
    }
  }
  .author_job {
    text-align: center;
    display: block;
    color: $secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em auto 1em;
  }
  .author_bio {
    text-align: center;
    font-size: 90%;
    display: block;
    margin-bottom: 0.8em;
  }
  @include media-query(medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.8em;
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
          text-decoration: none;
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
    }
  }
}
